{% extends 'base.html'  %}

{% block title %}Madlibs{% endblock %}

{%block content %}
<h1>Madlibs</h1>
<h2>Select a story template</h2>
<div class="container">
    <form action="/form" id="home">
        <label>Stories:
            <select placeholder="choose a story" name=stories>
                {% for story in stories %}
                <option value={{story}}>{{story}}</option>
                {%  endfor %}
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}